<h2>{{day}}</h2>
{{#each events}}
  <div class="row">
    <div class="col-md-4">
      <p><small>{{beginTime}} - {{endTime}}</small></p>
    </div>
    <div class="col-md-8">
      <p>{{{title}}}</p>
      <p><small>{{{place}}}</small></p>
    </div>
  </div>
{{/each}}
